<div class="bg-white h-screen">
  <div class="relative overflow-hidden h-full">
    <main class=h-full>
      <div class="h-full pt-10 bg-gray-900 sm:pt-16 lg:pt-8 lg:pb-14 lg:overflow-hidden justify-center">
        <div class="mx-auto max-w-7xl lg:px-8">
          <div>
            <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:px-0 lg:text-left lg:flex lg:items-center">
              <div class="lg:py-24">
                <h1 class="mt-4 text-4xl tracking-tight font-extrabold text-white sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl">
                  <span class="block">Ask AI to know more</span>
                  <span class="pb-3 block bg-clip-text text-transparent bg-gradient-to-r from-teal-200 to-cyan-400 sm:pb-5">about Lorem Ipsum</span>
                </h1>
                <div class="py-12">
                  <div id="root"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
